In [1]:
import numpy as np
import pandas as pd
import polars as pl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()
%matplotlib inline
pd.options.display.max_columns = 100
pd.options.display.max_rows = 25
pd.options.display.precision = 2

In [3]:
dfpl = pl.DataFrame(sns.load_dataset('mpg'))

In [4]:
dfpl.head()

shape: (5, 9)
┌──────┬───────────┬────────────┬────────────┬─────┬────────────┬────────────┬────────┬────────────┐
│ mpg  ┆ cylinders ┆ displaceme ┆ horsepower ┆ ... ┆ accelerati ┆ model_year ┆ origin ┆ name       │
│ ---  ┆ ---       ┆ nt         ┆ ---        ┆     ┆ on         ┆ ---        ┆ ---    ┆ ---        │
│ f64  ┆ i64       ┆ ---        ┆ f64        ┆     ┆ ---        ┆ i64        ┆ str    ┆ str        │
│      ┆           ┆ f64        ┆            ┆     ┆ f64        ┆            ┆        ┆            │
╞══════╪═══════════╪════════════╪════════════╪═════╪════════════╪════════════╪════════╪════════════╡
│ 18.0 ┆ 8         ┆ 307.0      ┆ 130.0      ┆ ... ┆ 12.0       ┆ 70         ┆ usa    ┆ chevrolet  │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ chevelle   │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ malibu     │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 15.0 ┆ 8         ┆ 350.0      ┆ 165.0      ┆ ... ┆ 11.5       ┆ 70         ┆ usa    ┆ buick      │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ skylark    │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ 320        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 18.0 ┆ 8         ┆ 318.0      ┆ 150.0      ┆ ... ┆ 11.0       ┆ 70         ┆ usa    ┆ plymouth   │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ satellite  │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 16.0 ┆ 8         ┆ 304.0      ┆ 150.0      ┆ ... ┆ 12.0       ┆ 70         ┆ usa    ┆ amc rebel  │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ sst        │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 17.0 ┆ 8         ┆ 302.0      ┆ 140.0      ┆ ... ┆ 10.5       ┆ 70         ┆ usa    ┆ ford       │
│      ┆           ┆            ┆            ┆     ┆            ┆            ┆        ┆ torino     │
└──────┴───────────┴────────────┴────────────┴─────┴────────────┴────────────┴────────┴────────────┘

In [14]:
dfpl\
.select(pl.all())\
.filter((pl.col('model_year') >= 70) | (pl.col('model_year') <= 75))\
.shape

(398, 9)

In [20]:
dfpl\
.filter((pl.col('model_year') >= 70) | (pl.col('model_year') <= 75))\
.select(['displacement', 'horsepower', 'weight', 'acceleration', 'mpg'])

shape: (398, 5)
┌──────────────┬────────────┬────────┬──────────────┬──────┐
│ displacement ┆ horsepower ┆ weight ┆ acceleration ┆ mpg  │
│ ---          ┆ ---        ┆ ---    ┆ ---          ┆ ---  │
│ f64          ┆ f64        ┆ i64    ┆ f64          ┆ f64  │
╞══════════════╪════════════╪════════╪══════════════╪══════╡
│ 307.0        ┆ 130.0      ┆ 3504   ┆ 12.0         ┆ 18.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 350.0        ┆ 165.0      ┆ 3693   ┆ 11.5         ┆ 15.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 318.0        ┆ 150.0      ┆ 3436   ┆ 11.0         ┆ 18.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 304.0        ┆ 150.0      ┆ 3433   ┆ 12.0         ┆ 16.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...          ┆ ...        ┆ ...    ┆ ...          ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 97.0         ┆ 52.0       ┆ 2130   ┆ 24.6         ┆ 44.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 135.0        ┆ 84.0       ┆ 2295   ┆ 11.6         ┆ 32.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 120.0        ┆ 79.0       ┆ 2625   ┆ 18.6         ┆ 28.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 119.0        ┆ 82.0       ┆ 2720   ┆ 19.4         ┆ 31.0 │
└──────────────┴────────────┴────────┴──────────────┴──────┘

In [23]:
dfpl\
.filter((pl.col('model_year') >= 70) | (pl.col('model_year') <= 75))\
.groupby(['origin', 'model_year', 'cylinders'])\
.agg(pl.all().mean())

shape: (76, 9)
┌────────┬────────────┬───────────┬───────────┬─────┬────────────┬─────────────┬────────────┬──────┐
│ origin ┆ model_year ┆ cylinders ┆ mpg       ┆ ... ┆ horsepower ┆ weight      ┆ accelerati ┆ name │
│ ---    ┆ ---        ┆ ---       ┆ ---       ┆     ┆ ---        ┆ ---         ┆ on         ┆ ---  │
│ str    ┆ i64        ┆ i64       ┆ f64       ┆     ┆ f64        ┆ f64         ┆ ---        ┆ str  │
│        ┆            ┆           ┆           ┆     ┆            ┆             ┆ f64        ┆      │
╞════════╪════════════╪═══════════╪═══════════╪═════╪════════════╪═════════════╪════════════╪══════╡
│ usa    ┆ 79         ┆ 6         ┆ 22.95     ┆ ... ┆ 105.0      ┆ 3025.833333 ┆ 15.433333  ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ europe ┆ 72         ┆ 4         ┆ 22.0      ┆ ... ┆ 79.6       ┆ 2573.2      ┆ 18.7       ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ usa    ┆ 75         ┆ 8         ┆ 15.666667 ┆ ... ┆ 142.0      ┆ 4108.833333 ┆ 13.166667  ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ japan  ┆ 78         ┆ 4         ┆ 29.6875   ┆ ... ┆ 79.25      ┆ 2221.25     ┆ 16.2       ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...    ┆ ...        ┆ ...       ┆ ...       ┆ ... ┆ ...        ┆ ...         ┆ ...        ┆ ...  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ usa    ┆ 73         ┆ 4         ┆ 20.0      ┆ ... ┆ 78.5       ┆ 2355.5      ┆ 19.0       ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ europe ┆ 75         ┆ 4         ┆ 24.5      ┆ ... ┆ 89.5       ┆ 2571.166667 ┆ 15.083333  ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ japan  ┆ 71         ┆ 4         ┆ 29.5      ┆ ... ┆ 79.25      ┆ 1936.0      ┆ 16.375     ┆ null │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ usa    ┆ 78         ┆ 4         ┆ 28.183333 ┆ ... ┆ 81.166667  ┆ 2417.5      ┆ 15.85      ┆ null │
└────────┴────────────┴───────────┴───────────┴─────┴────────────┴─────────────┴────────────┴──────┘

In [26]:
dfpl\
.filter((pl.col('model_year') >= 70) | (pl.col('model_year') <= 75))\
.to_pandas()\
.drop(columns = 'name')\
.groupby(['origin', 'model_year', 'cylinders']).agg(['mean', 'count', 'sum'])

                               mpg              displacement                \
                              mean count    sum         mean count     sum
origin model_year cylinders
europe 70         4          25.20     5  126.0       107.80     5   539.0
       71         4          28.75     4  115.0        95.00     4   380.0
       72         4          22.00     5  110.0       111.00     5   555.0
       73         4          24.00     7  168.0       105.00     7   735.0
       74         4          27.00     6  162.0        93.17     6   559.0
...                            ...   ...    ...          ...   ...     ...
usa    81         4          30.95     8  247.6       120.50     8   964.0
                  6          20.93     4   83.7       207.25     4   829.0
                  8          26.60     1   26.6       350.00     1   350.0
       82         4          29.65    17  504.0       128.47    17  2184.0
                  6          28.33     3   85.0       225.00     3   675.0

                            horsepower                 weight               \
                                  mean count     sum     mean count    sum
origin model_year cylinders
europe 70         4              86.20     5   431.0  2309.20     5  11546
       71         4              74.00     4   296.0  2024.00     4   8096
       72         4              79.60     5   398.0  2573.20     5  12866
       73         4              81.86     7   573.0  2335.71     7  16350
       74         4              74.17     6   445.0  2139.33     6  12836
...                                ...   ...     ...      ...   ...    ...
usa    81         4              75.12     8   601.0  2330.62     8  18645
                  6              98.25     4   393.0  3166.25     4  12665
                  8             105.00     1   105.0  3725.00     1   3725
       82         4              84.06    16  1345.0  2585.88    17  43960
                  6             102.33     3   307.0  2931.67     3   8795

                            acceleration
                                    mean count    sum
origin model_year cylinders
europe 70         4                16.50     5   82.5
       71         4                16.75     4   67.0
       72         4                18.70     5   93.5
       73         4                16.43     7  115.0
       74         4                15.33     6   92.0
...                                  ...   ...    ...
usa    81         4                15.95     8  127.6
                  6                15.53     4   62.1
                  8                19.00     1   19.0
       82         4                16.78    17  285.3
                  6                16.03     3   48.1

[76 rows x 15 columns]

In [31]:
dfpl\
.filter((pl.col('model_year') >= 70) | (pl.col('model_year') <= 75))\
.to_pandas()\
.drop(columns = 'name')\
.groupby(['origin', 'model_year', 'cylinders'])\
.get_group(('usa', 70, 6))\
.agg(['mean', 'count'])

/var/folders/7j/1gvz6zj16n7_vsxst9bvq42r0000gn/T/ipykernel_21882/3204154228.py:1: FutureWarning:

['origin'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
mean,20.5,6.0,199.0,91.75,2710.5,15.5,70.0,NaN
count,4.0,4.0,4.0,4.00,4.0,4.0,4.0,4.0

In [33]:
pldf_iris = pl.read_csv("https://j.mp/iriscsv")

In [34]:
pldf_iris\
.filter(pl.col('sepal_length') > 5)\
.groupby('species')\
.agg(pl.all().sum())

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

In [36]:
pl_lzy_df = pldf_iris.lazy()

In [37]:
type(pl_lzy_df)

polars.internals.lazyframe.frame.LazyFrame

In [42]:
pl_lzy_df.describe_optimized_plan()

'  DF ["sepal_length", "sepal_width", "petal_length", "petal_width"]; PROJECT */5 COLUMNS; SELECTION: "None"\n'

In [43]:
pl_lzy_df.collect()

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...         ┆ ...          ┆ ...         ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ virginica │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ virginica │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ virginica │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

In [44]:
pl_lzy_df.fetch()

shape: (150, 5)
┌──────────────┬─────────────┬──────────────┬─────────────┬───────────┐
│ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width ┆ species   │
│ ---          ┆ ---         ┆ ---          ┆ ---         ┆ ---       │
│ f64          ┆ f64         ┆ f64          ┆ f64         ┆ str       │
╞══════════════╪═════════════╪══════════════╪═════════════╪═══════════╡
│ 5.1          ┆ 3.5         ┆ 1.4          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4.9          ┆ 3.0         ┆ 1.4          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4.7          ┆ 3.2         ┆ 1.3          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4.6          ┆ 3.1         ┆ 1.5          ┆ 0.2         ┆ setosa    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...         ┆ ...          ┆ ...         ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 6.3          ┆ 2.5         ┆ 5.0          ┆ 1.9         ┆ virginica │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 6.5          ┆ 3.0         ┆ 5.2          ┆ 2.0         ┆ virginica │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 6.2          ┆ 3.4         ┆ 5.4          ┆ 2.3         ┆ virginica │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5.9          ┆ 3.0         ┆ 5.1          ┆ 1.8         ┆ virginica │
└──────────────┴─────────────┴──────────────┴─────────────┴───────────┘

In [45]:
pldf_tst = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)

In [46]:
pldf_tst

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.24149  ┆ A      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2    ┆ ham   ┆ 0.680442 ┆ A      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 3    ┆ spam  ┆ 0.495045 ┆ B      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null ┆ egg   ┆ 0.564178 ┆ C      │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 5    ┆ null  ┆ 0.22376  ┆ B      │
└──────┴───────┴──────────┴────────┘

In [50]:
pldf_tst\
.select(
    [
    pl.col('names').n_unique().alias('unique_names_1'),
    pl.col('names').unique().count().alias('unique_names_2')
]
)

shape: (1, 2)
┌────────────────┬────────────────┐
│ unique_names_1 ┆ unique_names_2 │
│ ---            ┆ ---            │
│ u32            ┆ u32            │
╞════════════════╪════════════════╡
│ 5              ┆ 5              │
└────────────────┴────────────────┘