In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
connection = sql.connect("test.db")

In [3]:
url = "https://en.wikipedia.org/wiki/Grand_Theft_Auto"
html_doc = pd.read_html(url)

In [5]:
len(html_doc)

18

In [11]:
gta = html_doc[4]

In [14]:
gta.head(3)

,Year,Game,Sales,Acquired label(s)
0,1997,Grand Theft Auto,3.5 million+[205],"PS1 Greatest Hits, Platinum"
1,1999,Grand Theft Auto: London 1969,NaN,NaN
2,1999,Grand Theft Auto: London 1961,NaN,NaN

In [26]:
for i in gta.itertuples(index=False, name=None):
    print(i)

('1997', 'Grand Theft Auto', '3.5 million+[205]', 'PS1 Greatest Hits, Platinum')
('1999', 'Grand Theft Auto: London 1969', nan, nan)
('1999', 'Grand Theft Auto: London 1961', nan, nan)
('1999', 'Grand Theft Auto 2', '1 million[206]', 'PS1 Greatest Hits')
('2001', 'Grand Theft Auto III', '17.5 million[207]', 'PS2 Greatest Hits, Platinum')
('2002', 'Grand Theft Auto: Vice City', '20 million[207]', 'PS2 Greatest Hits, Platinum')
('2004', 'Grand Theft Auto: San Andreas', '27.5 million[208][209]', 'PS2 Greatest Hits, Platinum Xbox Platinum Hits PS3 Greatest Hits Xbox 360 Platinum Hits')
('2004', 'Grand Theft Auto Advance', '100000', nan)
('2005', 'Grand Theft Auto: Liberty City Stories', '8 million[207]', 'PSP Greatest Hits, Platinum PS2 Platinum')
('2006', 'Grand Theft Auto: Vice City Stories', '4.5 million[207]', 'PSP Greatest Hits, Platinum PS2 Platinum')
('2008', 'Grand Theft Auto IV', '25 million+[210][211]', 'PS3 Greatest Hits, Platinum Xbox 360 Platinum Hits')
('2009', 'Grand Theft Auto IV: The Lost and Damned', '1 million+[212][213]', nan)
('2009', 'Grand Theft Auto: Chinatown Wars', '200,000[214]', 'PSP Greatest Hits')
('2009', 'Grand Theft Auto: The Ballad of Gay Tony', nan, nan)
('2009', 'Grand Theft Auto: Episodes from Liberty City', '160,000+[215]', 'PS3 Greatest Hits Xbox 360 Platinum Hits')
('2013', 'Grand Theft Auto V', '130 million[216]', 'PS3 Greatest Hits Xbox 360 Platinum Hits')
('Total series sales: 235 million+[194][217]', 'Total series sales: 235 million+[194][217]', 'Total series sales: 235 million+[194][217]', 'Total series sales: 235 million+[194][217]')

In [37]:
list_gta_entries = list(gta.itertuples(index=False, name=None))

In [41]:
list_gta_entries[0:3]

[('1997',
  'Grand Theft Auto',
  '3.5 million+[205]',
  'PS1 Greatest Hits, Platinum'),
 ('1999', 'Grand Theft Auto: London 1969', nan, nan),
 ('1999', 'Grand Theft Auto: London 1961', nan, nan)]

In [42]:
connection.close()

In [45]:
connection = sql.connect('test.db')
cursor = connection.cursor()

cursor.execute("drop table if exists gta")
cursor.execute("create table gta (year integer, title text, sales text, label text)")

connection.close()

In [59]:
connection = sql.connect("test.db")
cursor = connection.cursor()

cursor.execute("drop table if exists gta")
cursor.execute("create table gta (year integer, title text, sales text, label text)")
cursor.executemany("insert into gta values(?, ?, ?, ?)", list_gta_entries)

In [60]:

for row in cursor.execute('select * from gta'):
    print(row)

(1997, 'Grand Theft Auto', '3.5 million+[205]', 'PS1 Greatest Hits, Platinum')
(1999, 'Grand Theft Auto: London 1969', None, None)
(1999, 'Grand Theft Auto: London 1961', None, None)
(1999, 'Grand Theft Auto 2', '1 million[206]', 'PS1 Greatest Hits')
(2001, 'Grand Theft Auto III', '17.5 million[207]', 'PS2 Greatest Hits, Platinum')
(2002, 'Grand Theft Auto: Vice City', '20 million[207]', 'PS2 Greatest Hits, Platinum')
(2004, 'Grand Theft Auto: San Andreas', '27.5 million[208][209]', 'PS2 Greatest Hits, Platinum Xbox Platinum Hits PS3 Greatest Hits Xbox 360 Platinum Hits')
(2004, 'Grand Theft Auto Advance', '100000', None)
(2005, 'Grand Theft Auto: Liberty City Stories', '8 million[207]', 'PSP Greatest Hits, Platinum PS2 Platinum')
(2006, 'Grand Theft Auto: Vice City Stories', '4.5 million[207]', 'PSP Greatest Hits, Platinum PS2 Platinum')
(2008, 'Grand Theft Auto IV', '25 million+[210][211]', 'PS3 Greatest Hits, Platinum Xbox 360 Platinum Hits')
(2009, 'Grand Theft Auto IV: The Lost and Damned', '1 million+[212][213]', None)
(2009, 'Grand Theft Auto: Chinatown Wars', '200,000[214]', 'PSP Greatest Hits')
(2009, 'Grand Theft Auto: The Ballad of Gay Tony', None, None)
(2009, 'Grand Theft Auto: Episodes from Liberty City', '160,000+[215]', 'PS3 Greatest Hits Xbox 360 Platinum Hits')
(2013, 'Grand Theft Auto V', '130 million[216]', 'PS3 Greatest Hits Xbox 360 Platinum Hits')
('Total series sales: 235 million+[194][217]', 'Total series sales: 235 million+[194][217]', 'Total series sales: 235 million+[194][217]', 'Total series sales: 235 million+[194][217]')

In [61]:
cursor.execute("select * from gta")
cursor.fetchall()

[(1997,
  'Grand Theft Auto',
  '3.5 million+[205]',
  'PS1 Greatest Hits, Platinum'),
 (1999, 'Grand Theft Auto: London 1969', None, None),
 (1999, 'Grand Theft Auto: London 1961', None, None),
 (1999, 'Grand Theft Auto 2', '1 million[206]', 'PS1 Greatest Hits'),
 (2001,
  'Grand Theft Auto III',
  '17.5 million[207]',
  'PS2 Greatest Hits, Platinum'),
 (2002,
  'Grand Theft Auto: Vice City',
  '20 million[207]',
  'PS2 Greatest Hits, Platinum'),
 (2004,
  'Grand Theft Auto: San Andreas',
  '27.5 million[208][209]',
  'PS2 Greatest Hits, Platinum Xbox Platinum Hits PS3 Greatest Hits Xbox 360 Platinum Hits'),
 (2004, 'Grand Theft Auto Advance', '100000', None),
 (2005,
  'Grand Theft Auto: Liberty City Stories',
  '8 million[207]',
  'PSP Greatest Hits, Platinum PS2 Platinum'),
 (2006,
  'Grand Theft Auto: Vice City Stories',
  '4.5 million[207]',
  'PSP Greatest Hits, Platinum PS2 Platinum'),
 (2008,
  'Grand Theft Auto IV',
  '25 million+[210][211]',
  'PS3 Greatest Hits, Platinum Xbox 360 Platinum Hits'),
 (2009,
  'Grand Theft Auto IV: The Lost and Damned',
  '1 million+[212][213]',
  None),
 (2009,
  'Grand Theft Auto: Chinatown Wars',
  '200,000[214]',
  'PSP Greatest Hits'),
 (2009, 'Grand Theft Auto: The Ballad of Gay Tony', None, None),
 (2009,
  'Grand Theft Auto: Episodes from Liberty City',
  '160,000+[215]',
  'PS3 Greatest Hits Xbox 360 Platinum Hits'),
 (2013,
  'Grand Theft Auto V',
  '130 million[216]',
  'PS3 Greatest Hits Xbox 360 Platinum Hits'),
 ('Total series sales: 235 million+[194][217]',
  'Total series sales: 235 million+[194][217]',
  'Total series sales: 235 million+[194][217]',
  'Total series sales: 235 million+[194][217]')]

In [62]:
connection.close()

In [65]:
conn = sql.connect('test.db')
cursor = conn.cursor()

cursor.executemany('insert into gta values (?,?,?,?)', list_gta_entries)

In [66]:
cursor.execute('select * from gta')
cursor.fetchall()

[(1997,
  'Grand Theft Auto',
  '3.5 million+[205]',
  'PS1 Greatest Hits, Platinum'),
 (1999, 'Grand Theft Auto: London 1969', None, None),
 (1999, 'Grand Theft Auto: London 1961', None, None),
 (1999, 'Grand Theft Auto 2', '1 million[206]', 'PS1 Greatest Hits'),
 (2001,
  'Grand Theft Auto III',
  '17.5 million[207]',
  'PS2 Greatest Hits, Platinum'),
 (2002,
  'Grand Theft Auto: Vice City',
  '20 million[207]',
  'PS2 Greatest Hits, Platinum'),
 (2004,
  'Grand Theft Auto: San Andreas',
  '27.5 million[208][209]',
  'PS2 Greatest Hits, Platinum Xbox Platinum Hits PS3 Greatest Hits Xbox 360 Platinum Hits'),
 (2004, 'Grand Theft Auto Advance', '100000', None),
 (2005,
  'Grand Theft Auto: Liberty City Stories',
  '8 million[207]',
  'PSP Greatest Hits, Platinum PS2 Platinum'),
 (2006,
  'Grand Theft Auto: Vice City Stories',
  '4.5 million[207]',
  'PSP Greatest Hits, Platinum PS2 Platinum'),
 (2008,
  'Grand Theft Auto IV',
  '25 million+[210][211]',
  'PS3 Greatest Hits, Platinum Xbox 360 Platinum Hits'),
 (2009,
  'Grand Theft Auto IV: The Lost and Damned',
  '1 million+[212][213]',
  None),
 (2009,
  'Grand Theft Auto: Chinatown Wars',
  '200,000[214]',
  'PSP Greatest Hits'),
 (2009, 'Grand Theft Auto: The Ballad of Gay Tony', None, None),
 (2009,
  'Grand Theft Auto: Episodes from Liberty City',
  '160,000+[215]',
  'PS3 Greatest Hits Xbox 360 Platinum Hits'),
 (2013,
  'Grand Theft Auto V',
  '130 million[216]',
  'PS3 Greatest Hits Xbox 360 Platinum Hits'),
 ('Total series sales: 235 million+[194][217]',
  'Total series sales: 235 million+[194][217]',
  'Total series sales: 235 million+[194][217]',
  'Total series sales: 235 million+[194][217]')]

In [67]:
cursor.execute('select * from gta where Year = 1997')
cursor.fetchall()

[(1997,
  'Grand Theft Auto',
  '3.5 million+[205]',
  'PS1 Greatest Hits, Platinum')]

In [69]:
cursor.execute('select * from gta where Year=:y', dict(y=1997))
cursor.fetchall()

[(1997,
  'Grand Theft Auto',
  '3.5 million+[205]',
  'PS1 Greatest Hits, Platinum')]

In [71]:
cursor.execute('select * from gta where year=:y', {'y':2002})
cursor.fetchall()

[(2002,
  'Grand Theft Auto: Vice City',
  '20 million[207]',
  'PS2 Greatest Hits, Platinum')]

In [74]:
cursor.execute('drop table if exists myranking')
cursor.execute('create table myranking (title text, myrank integer)')
cursor.execute('insert into myranking (title, myrank) values ("Grand Theft Auto V", 1)')
cursor.execute('insert into myranking (title, myrank) values ("Grand Theft Auto 2", 2)')

In [75]:
cursor.execute('select * from myranking')
cursor.fetchall()

[('Grand Theft Auto V', 1), ('Grand Theft Auto 2', 2)]

In [78]:
cursor.execute('select g.Year, g.Game, m.myrank from gta as g join myranking as m on g.Game = m.title')

OperationalError: no such column: g.Game